body {
  margin:0px;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
  position:relative;
  left:-301px;
  width:700px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:438px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u3341 {
  position:absolute;
  left:483px;
  top:116px;
  width:339px;
  height:438px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u3342 {
  position:absolute;
  left:20px;
  top:211px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
  text-align:center;
  line-height:22px;
}
#u3343 {
  position:absolute;
  left:301px;
  top:139px;
  width:700px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#868686;
  text-align:center;
  line-height:22px;
}
#u3344 {
  position:absolute;
  left:2px;
  top:2px;
  width:696px;
  word-wrap:break-word;
}
#u3345 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u3346 {
  position:absolute;
  left:513px;
  top:484px;
  width:273px;
  height:50px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u3346_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u3346.mouseOver {
  opacity:0.8;
}
#u3346_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u3346.mouseDown {
  opacity:1;
}
#u3347 {
  position:absolute;
  left:0px;
  top:15px;
  width:273px;
  word-wrap:break-word;
}
#u3348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u3348 {
  position:absolute;
  left:615px;
  top:499px;
  width:15px;
  height:20px;
}
#u3349 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:295px;
}
#u3350 {
  position:absolute;
  left:504px;
  top:173px;
  width:295px;
  height:295px;
}
#u3351 {
  position:absolute;
  left:2px;
  top:140px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
